{% extends "bootstrap_responsive.html" %}

{% import "bootstrap_wtf.html" as wtf %}

{% block head %}{{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='jquery.js') }}">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}

{% block style %}{{ super() }}
    <style type="text/css">
      .pullout-list { border-left: 1px solid #eee; padding: 1px 1.5em; background-color: white; }
      form[name='slot_delete'] { margin: 0;}
      .top-buffer { margin-top: 10px }
    </style>

    {% block extra_style %}{% endblock %}
{% endblock %}

{% block body_content %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <ul class="nav">
              <li><a class="brand" href="#">Globe-SureSeats</a></li>
              <li><a href="{{ url_for('.theater_index') }}">Theaters</a></li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Movies<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><a href="{{ url_for('.movie_index') }}">Active Movies</a></li>
                  <li><a href="{{ url_for('.movie_inactive_index') }}">In-Active Movies</a></li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li><a href="{{ url_for('.theaterorg_index') }}">Theater Organization</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{ url_for('.feed_index') }}">Feeds</a></li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Payment Settings<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><a href="{{ url_for('.payment_settings_index', payment_identifier='pesopay') }}">PesoPay Payment Settings</a></li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><a href="{{ url_for('.transactions_index', transaction_type='BUY') }}">BUY Transactions</a></li>
                  <li><a href="{{ url_for('.transactions_index', transaction_type='RESERVE') }}">RESERVE Transactions</a></li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li><a href="{{ url_for('.clients_index') }}">Clients</a></li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><a tabindex="-1" href="{{ url_for('.system_knobs') }}">System Settings</a></li>
                </ul>
              </li>
            </ul>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
        {% block container_content %}
          Hello Index!
        {% endblock %}
    </div>
{% endblock %}

{% block bootstrap_js_bottom %}{{ super() }}
    {% block bootboxjs %}{% endblock %}
    {% block extra_js %}{% endblock %}
{% endblock %}
