{% extends "base.html" %}

{% block title %}Showing: {{ theater_name }}, Cinema {{ cinema.name }}{% endblock %}

{% block style %}{{ super() }}
  <style type="text/css">
    .seatmap .controls label { font-size: 0.8em; }
    .seatmap ul li { list-style: none; }
  </style>
{% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1><a href="{{ url_for('.theater_update_and_show', theater_id=theater_id) }}">{{ theater_name }}</a></h1>
    <h2>Cinema {{ cinema.name }}</h2>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div id="edit_form" class="span8">
      <form class="form form-horizontal" method="post" action="{{ url_for('.cinema_update_and_show', theater_id=theater_id, cinema_name=cinema.name) }}">
        {{ form.csrf_token }}
        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.latitude) }}
        {{ wtf.horizontal_field(form.longitude) }}
        {{ wtf.horizontal_field(form.addseats) }}

        <div class="seatmap">
          {{ wtf.horizontal_field(form.seat_map) }}
        </div>

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>

    <div class="span2 pullout-list">
      <h3>Schedules</h3>
      {% if schedules %}
        <ul>
          {% for s in schedules %}
            <li><a href="{{ url_for('.schedule_show', theater_id=theater_id, schedule_id=s.key.id()) }}">{{ s.show_date }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <i>No Schedules</i>
      {% endif %}
    </div>
  </div>
{% endblock %}
