{% extends "base.html" %}

{% block title %} Create a New Cinema {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1><a href="{{ url_for('.theater_update_and_show', theater_id=theater_id) }}">{{ theater_name }}</a> > New</h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <form class="form form-horizontal" method="post" action="{{ url_for('.cinema_new', theater_id=theater_id) }}">
    {{ form.csrf_token }}

    {% if form.errors['generic'] %}
      <div>
        <span class="label label-important">{{ form.errors['generic'] }}</span>
      </div>
    {% endif %}

    {{ wtf.form_errors(form, False) }}

    {{ wtf.horizontal_field(form.name) }}
    {{ wtf.horizontal_field(form.latitude) }}
    {{ wtf.horizontal_field(form.longitude) }}

    <div class="form-actions">
      <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </form>
{% endblock %}

