{% extends "base.html" %}

{% block title %} Client: {{ client.key.id() }} {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>{{ client.key.id() }}</h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div id="edit_form" class="span8">
      <form class="form form-horizontal" method="post" action="{{ url_for('.clients_update_and_show', client_id=client.key.id()) }}">
        {{ form.csrf_token }}

        {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
        {% endif %}

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.pubkey) }}

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save</button>
          <button name="action_delete" type="submit" formaction="{{ url_for('.clients_unregister_verify', client_id=client.key.id()) }}"
              formmethod="POST" class="btn btn-danger"><i class="icon-trash"></i> Unregister</button>
        </div>
      </form>
    </div>

    <div class="span2 pullout-list">
      <h3>Devices</h3>

      {% if devices %}
        <ul>
          {% for d in devices %}
            <li><a href="{{ url_for('.device_show', device_id=d.key.id()) }}">{{ d.key.id() }} ({{ d.device_class }})</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <i>None</i>
      {% endif %}
    </div>
  </div>
{% endblock %}
