{% extends "base.html" %}

{% block title %} Register New Client {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>New Client</h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div id="edit_form" class="span10">
      <form class="form form-horizontal" method="post" action="{{ url_for('.clients_new') }}">
        {{ form.csrf_token }}

        {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
        {% endif %}

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.id) }}
        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.pubkey) }}

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
