{% extends "base.html" %}

{% block title %}Registered API Clients{% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>Registered Clients</h1>
    <div class="btn-group">
      <a class="btn btn-small" href="{{ url_for('.clients_new') }}">Register Client</a>
    </div>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div>
    {% if clients %}
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Client ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
            <tr>
              <td><a href="{{ url_for('.clients_update_and_show', client_id=client.key.id()) }}">{{ client.key.id() }}</a></td>
              <td>{{ client.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      No registered clients.
    {% endif %}
  </div>
{% endblock %}
