{% extends "base.html" %}

{% block title %} Show Feed: {{ feed.name }} {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>{{ feed.name }} <small>{{ feed.key.id() }}</small></h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div id="edit_form" class="span12">
      <form class="form form-horizontal" method="post" action="{{ url_for('.feed_update_and_show', feed_id=feed_id) }}">
        {{ form.csrf_token }}
        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.image_density) }}
        {{ wtf.horizontal_field(form.heuristics_priority) }}

        <div class="row-fluid">
          <div class="span6">
            {{ wtf.horizontal_field(form.movie_fields_whitelist, class="checkbox") }}
          </div>

          <div class="span6">
            {{ wtf.horizontal_field(form.movie_fields_blacklist, class="checkbox") }}
          </div>
        </div>

        {{ wtf.horizontal_field(form.allow_movie_creation) }}

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
