{% extends "base.html" %}

{% block title %} Listing All Movies {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>Movies</h1>
    <div class="btn-group">
      <a class="btn btn-small" href="{{ url_for('.movie_new') }}">Add Movie</a>
    </div>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div>
    {% if movies_page %}
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Advisory Rating</th>
            <th>Runtime</th>
            <th>Release Date</th>
            <th>Flags</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies_page %}
            <tr>
              <td><a href="{{ url_for('.movie_update_and_show', movie_id=movie.key.id()) }}">{{ movie.key.id() }}</a></td>
              <td>{{ movie.canonical_title }}</td>
              <td>{{ movie.advisory_rating }}</td>
              <td>{{ movie.runtime_mins }}</td>
              <td>{{ movie.release_date }}</td>
              <td>
                {% if not movie.is_showing  %}
                  <span class="label">Coming Soon</span>
                {% endif %}
                &nbsp;
                {% if movie.is_expired  %}
                  <span class="label label-warning">Expired</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <ul class="pager">
        {% if more %}
          <li class="next">
            <a href="{{ url_for('.movie_index', cursor=next_cursor.urlsafe()) }}">Next &rarr;</a>
          </li>
        {% else %}
          <li class="next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
      </ul>
    {% else %}
      No Available Data
    {% endif %}
  </div>
{% endblock %}
