{% extends "base.html" %}

{% block title %} Show Movie: {{ movie.canonical_title }} {% endblock %}

{% block container_content %}
  <div class="page-header">
    {% if movie.is_active %}
      <h1><a href="{{ url_for('.movie_index') }}">Movies</a> > {{ movie.canonical_title }} <i>(Active)</i></h1>
    {% else %}
      <h1><a href="{{ url_for('.movie_inactive_index') }}">Movies</a> > {{ movie.canonical_title }} <i>(In-Active)</i></h1>
    {% endif %}
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div id="edit_form" class="span8">
      <form class="form form-horizontal" method="post" action="{{ url_for('.movie_update_and_show', movie_id=movie_id) }}">
        {{ form.csrf_token }}

        {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
        {% endif %}

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.canonical_title) }}
        {{ wtf.horizontal_field(form.genre) }}
        {{ wtf.horizontal_field(form.cast_list) }}
        {{ wtf.horizontal_field(form.runtime_mins) }}
        {{ wtf.horizontal_field(form.release_date) }}
        {{ wtf.horizontal_field(form.advisory_rating) }}
        {{ wtf.horizontal_field(form.synopsis) }}
        {{ wtf.horizontal_field(form.poster_portrait) }}
        {{ wtf.horizontal_field(form.poster_landscape) }}
        {{ wtf.horizontal_field(form.is_featured) }}
        {{ wtf.horizontal_field(form.is_special) }}
        {{ wtf.horizontal_field(form.is_expired) }}
        {{ wtf.horizontal_field(form.is_locked) }}
        {{ wtf.horizontal_field(form.is_published) }}
        {{ wtf.horizontal_field(form.is_active) }}

        <h3>Feed Mappings</h3>
        {% if sureseat_mappings %}
          <ul><h5>SureSeats Feed Mappings</h5></ul>
          {% for s_map in sureseat_mappings %}
            <div class="control-group">
              <label class="control-label" for="sureseat-variant-{{ s_map.variant }}">Sureseat, {{ s_map.variant }}</label>
              <div class="controls">
                <input id="sureseat-variant-{{ s_map.variant }}" name="sureseat-variant-{{ s_map.variant }}" type="text" disabled value="{{ s_map.movie_id }}">
                <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                    data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "sureseats", "corr_id": "{{ s_map.movie_id }}", "variant": "{{ s_map.variant }}"}'>
                  <i class="icon-trash icon-white"></i>
                </button>
              </div>
            </div>
          {% endfor %}
        {% endif %}

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>

    <div class="span4 pullout-list">
      <h3>Schedules</h3>
      {% if schedules %}
        <ul>
          {% for s in schedules %}
            <li><a href="{{ url_for('.schedule_show', theater_id=encoded_theater_id(s[0].key.parent()), schedule_id=s[0].key.id()) }}">{{ s[0].show_date }}, ({{ s[1] }} - {{ s[0].cinema }})</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <i>No Schedules</i>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block bootboxjs %}
  <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>
  <script type="text/javascript">
    var DELETE_FEED_CORRELATION_URL = "/admin/movies/{{ movie_id }}/feed_correlations/";

    $(document).on("click", "button[name='feed_corr_del_btn']", function(e) {
      e.preventDefault();

      var d = $.parseJSON($(this).attr("data-button"));

      bootbox.confirm("You are about to delete "+ d.feed_name +" correlation ID " + d.corr_id + ". Delete now?", function(result) {
        if(result){
          var form = $("<form>").attr("action", DELETE_FEED_CORRELATION_URL + d.feed_name + "~" + d.corr_id + "~" + d.variant.replace('/', '_') + "/delete").attr("method", "post");

          $("body").append(form);

          form.submit();
        }
      });
    });
  </script>
{% endblock %}