{% extends "base.html" %}

{% block title %} {{ payment_identifier.title() }} Payment Settings: {{ payment_settings.key.parent().get().name }}{% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1><a href="{{ url_for('.payment_settings_update_and_show', payment_identifier=payment_identifier, payment_settings_id=payment_settings.key.urlsafe()) }}">{{ payment_settings.key.parent().get().name }} Payment Settings</a> > Cinema {{ cinema_name }}</h1>
    <div class="btn-group">
      <a class="btn btn-danger btn-small" href="#" id="cinema_payment_settings_del_btn">
        <i class="icon-trash icon-white"></i> Delete Cinema Payment Settings
      </a>
    </div>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div id="edit_form" class="span10">
      <form class="form form-horizontal" method="post" action="{{ url_for('.payment_settings_cinema_update_and_show', payment_identifier=payment_identifier, payment_settings_id=payment_settings.key.urlsafe(), cinema_name=cinema_name) }}">
        {{ form.csrf_token }}

        {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
        {% endif %}

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.cinema) }}
        {{ wtf.horizontal_field(form.currency_code) }}
        {{ wtf.horizontal_field(form.pay_type) }}
        {{ wtf.horizontal_field(form.merchand_id) }}
        {{ wtf.horizontal_field(form.hash_secret) }}
        {{ wtf.horizontal_field(form.default_form_target) }}

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block bootboxjs %}
  <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>
  <script type="text/javascript">
    var DELETE_CINEMA_PAYMENT_SETTINGS_URL = "/admin/payment_settings/{{ payment_identifier }}/{{ payment_settings.key.urlsafe() }}/cinema/{{ cinema_name }}/delete/";

    $(document).on("click", "#cinema_payment_settings_del_btn", function(e) {
      e.preventDefault();

      bootbox.confirm("You are about to delete this Cinema Payment Settings. Delete now?", function(result) {
        if(result){
          var form = $("<form>").attr("action", DELETE_CINEMA_PAYMENT_SETTINGS_URL).attr("method", "post");

          $("body").append(form);

          form.submit();
        }
      });
    });
  </script>
{% endblock %}