{% extends "base.html" %}

{% block title %} Create New {{ payment_identifier.title() }} Cinema Payment Settings {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1><a href="{{ url_for('.payment_settings_update_and_show', payment_identifier=payment_identifier, payment_settings_id=payment_settings.key.urlsafe()) }}">{{ payment_settings.key.parent().get().name }} Payment Settings</a> > New</h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div id="edit_form" class="span10">
      <form class="form form-horizontal" method="post" action="{{ url_for('.payment_settings_cinema_new', payment_identifier=payment_identifier, payment_settings_id=payment_settings.key.urlsafe()) }}">
        {{ form.csrf_token }}

        {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
        {% endif %}

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.cinema) }}
        {{ wtf.horizontal_field(form.currency_code) }}
        {{ wtf.horizontal_field(form.pay_type) }}
        {{ wtf.horizontal_field(form.merchand_id) }}
        {{ wtf.horizontal_field(form.hash_secret) }}
        {{ wtf.horizontal_field(form.default_form_target) }}

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
