{% extends "base.html" %}

{% block title %}{{ payment_identifier.title() }} Payment Settings{% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>{{ payment_identifier.title() }} Payment Settings</h1>
    <div class="btn-group">
      <a class="btn btn-small" href="{{ url_for('.payment_settings_new', payment_identifier=payment_identifier) }}">Add {{ payment_identifier.title() }} Payment Settings</a>
    </div>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div>
    {% if payment_settings %}
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Theater Name</th>
            <th>Payment Identifier</th>
          </tr>
        </thead>
        <tbody>
          {% for settings in payment_settings %}
            <tr>
              <td><a href="{{ url_for('.payment_settings_update_and_show', payment_identifier=payment_identifier, payment_settings_id=settings.key.urlsafe()) }}">{{ settings.key.parent().get().name }}</a></td>
              <td>{{ settings.payment_identifier }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      No Available Data
    {% endif %}
  </div>
{% endblock %}
