{% extends "base.html" %}

{% block title %}{{ theater_name }}, Cinema {{ schedule.cinema }}, {{ schedule.show_date }}{% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1><a href="{{ url_for('.theater_update_and_show', theater_id=theater_id) }}">{{ theater_name }}</a></h1>
    <h2><a href="{{ url_for('.cinema_update_and_show', theater_id=theater_id, cinema_name=schedule.cinema) }}">Cinema {{ schedule.cinema }}</a> &gt; {{ schedule.show_date }}</h2>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div id="edit_form">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Start Time</th>
          <th>Feed Code</th>
          <th>Movie</th>
          <th>Variant</th>
          <th>Seating Type</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for slot in schedule.sorted_slots() %}
          <tr>
            <td>{{ slot.start_time }}</td>
            <td>{{ slot.feed_code }}</td>
            <td><a href="{{ url_for('.movie_update_and_show', movie_id=slot.movie.id())}}">{{ slot.movie.get().canonical_title }}</a></td>
            <td>{{ slot.variant }}</td>
            <td>{{ slot.seating_type }}</td>
            <td>{{ slot.price }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
