{% extends "base.html" %}

{% block title %} List All Theaters {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>Theaters</h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div>
    {% if theaters %}
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Theater Name</th>
            <th>Theater Code</th>
            <th>Address Category</th>
            <th>Allowed Buy Ticket</th>
            <th>Allowed Reserve Ticket</th>
            <th>Is Published</th>
            <th>Is Active</th>
          </tr>
        </thead>
        <tbody>
          {% for theater in theaters %}
            <tr>
              <td><a href="{{ url_for('.theater_update_and_show', theater_id=encoded_theater_id(theater.key)) }}">{{ theater.name }}</a></td>
              <td>{{ theater.org_theater_code }}</td>
              <td>{{ theater.address_category }}</td>
              <td>
                {% if theater.allow_buy_ticket %}
                  <span class="label label-success">{{ theater.allow_buy_ticket }}</span>
                {% else %}
                  <span class="label">{{ theater.allow_buy_ticket }}</span>
                {% endif %}
              </td>
              <td>
                {% if theater.allow_reserve_ticket %}
                  <span class="label label-success">{{ theater.allow_reserve_ticket }}</span>
                {% else %}
                  <span class="label">{{ theater.allow_reserve_ticket }}</span>
                {% endif %}
              </td>
              <td>
                {% if theater.is_published %}
                  <span class="label label-success">{{ theater.is_published }}</span>
                {% else %}
                  <span class="label">{{ theater.is_published }}</span>
                {% endif %}
              </td>
              <td>
                {% if theater.is_active %}
                  <span class="label label-success">{{ theater.is_active }}</span>
                {% else %}
                  <span class="label">{{ theater.is_active }}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      No Available Data
    {% endif %}
  </div>
{% endblock %}
