{% extends "base.html" %}

{% block title %} List All Theaters Organization {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>Theater Organizations</h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Theater Organizations</th>
          <th>Theater Organization ID</th>
        </tr>
      </thead>
      <tbody>
        {% for theaterorg in theaterorgs %}
          <tr>
            <td><a href="{{ url_for('.theaterorg_update_and_show', org_id=theaterorg) }}">{{ theaterorgs[theaterorg] }}</a></td>
            <td>{{ theaterorg }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
