{% extends "base.html" %}

{% block title %} Show Theater: {{ theater.name }} {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>{{ theater.name }} ({{ theater.key.parent().get().name }})</h1>
    <div class="btn-group">
      <a class="btn btn-small" href="{{ url_for('.cinema_new', theater_id=encoded_theater_id(theater.key)) }}">Create New Cinema</a>
    </div>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div id="edit_form" class="span8">
      <form class="form form-horizontal" method="post" action="{{ url_for('.theater_update_and_show', theater_id=theater_id) }}" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
        {% endif %}

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.address) }}
        {{ wtf.horizontal_field(form.address_category) }}
        {{ wtf.horizontal_field(form.latitude) }}
        {{ wtf.horizontal_field(form.longitude) }}
        {{ wtf.horizontal_field(form.org_theater_code) }}
        {{ wtf.horizontal_field(form.logo) }}
        {{ wtf.horizontal_field(form.allow_buy_ticket) }}
        {{ wtf.horizontal_field(form.allow_reserve_ticket) }}
        {{ wtf.horizontal_field(form.is_published) }}
        {{ wtf.horizontal_field(form.is_active) }}

        <div class="row-fluid">
          <div class="span6">
            {{ wtf.horizontal_field(form.payment_options, class="checkbox") }}
          </div>
        </div>

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>

    <div class="span2 pullout-list">
      <h3>Cinemas</h3>
      <span>
        {% if theater.cinemas %}
          <ul class="unstyled">
            {% for cinema in theater.cinemas %}
              <li><a href="{{ url_for('.cinema_update_and_show', theater_id=encoded_theater_id(theater.key), cinema_name=cinema.name) }}">{{ cinema.name }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          No Cinemas yet
        {% endif %}
      </span>

      <h3>Schedules</h3>
      <span>
        {% if schedules %}
          <ul class="unstyled">
            {% for schedule in schedules %}
              <li><a href="{{ url_for('.schedule_show', theater_id=encoded_theater_id(schedule.key.parent()), schedule_id=schedule.key.id()) }}">{{ schedule.cinema }} on {{ schedule.show_date }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          No Schedules
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
