{% extends "base.html" %}

{% block title %} Show Theater Organization: {{ theaterorg.name }} {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>{{ theaterorg.name }} <small>{{ theaterorg.key.id() }}</small></h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div id="edit_form" class="span9">
      <div class="row-fluid">
        <div class="span8">
          <form class="form form-horizontal" method="post"
                action="{{ url_for('.theaterorg_update_and_show', org_id=org_id) }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ wtf.form_errors(form, False) }}

            {{ wtf.horizontal_field(form.name) }}
            {{ wtf.horizontal_field(form.pubkey) }}
            {{ wtf.horizontal_field(form.ticket_type) }}
            {{ wtf.horizontal_field(form.sort_priority) }}
            {{ wtf.horizontal_field(form.is_published) }}
            {{ wtf.horizontal_field(form.is_active) }}

            <h3>Convenience Fees</h3>
            {{ wtf.horizontal_field(form.convenience_fee_creditcard) }}
            {{ wtf.horizontal_field(form.convenience_fee_mpass) }}
            {{ wtf.horizontal_field(form.convenience_fee_reserve) }}

            <!--
            <h3>Snackbar</h3>
            {{ wtf.horizontal_field(form.convenience_fee_snackbar_type) }}
            {{ wtf.horizontal_field(form.convenience_fee_snackbar) }}
            -->

            <div class="form-actions">
              <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="span3 pullout-list">
      <h3>Theaters</h3>
      {% if theaters %}
        <ul class="unstyled">
          {% for theater in theaters %}
            <li><a href="{{ url_for('.theater_update_and_show', theater_id=encoded_theater_id(theater.key)) }}">{{ theater.name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <i>None</i>
      {% endif %}
    </div>
  </div>
{% endblock %}
