{% extends "base.html" %}

{% block title %} Show Transaction: {{ transaction.key.id() }} {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>Transaction</h1>
    <h2>{{ transaction.key.id() }}</h2>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div class="span6">
      <h3>Primary Details:</h3>
      ID: {{ transaction.key.id() }}<br />
      Transaction Date: {% if transaction.date_created %}{{ transaction.date_created|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}<br />
      State: {{ to_state_str(transaction.state) }}<br />
      Payment Reference Code: {{ transaction.payment_reference }}<br />
      Reservation Reference Code: {{ transaction.reservation_reference }}<br />
      Transaction Type: {{ transaction.transaction_type.upper() }}<br />
      Platform: {{ transaction.platform }}<br />
      Is Discounted: {{ transaction.is_discounted }}<br />
      Is Cancelled: {{ transaction.is_cancelled }}<br />
      Cancellation Date: {% if transaction.date_cancelled %}{{ transaction.date_cancelled|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}<br />

      <h3>Reservations:</h3>
      {% if transaction.reservations %}
        <ul class="unstyled">
          {% for i,r in enumerate(transaction.reservations) %}
            <li>
              Schedule ID: <a href="{{ url_for('.schedule_show', theater_id=encoded_theater_id(r.theater), schedule_id=r.schedule.id()) }}">{{ r.schedule }}</a><br />
              Theater ID: <a href="{{ url_for('.theater_update_and_show', theater_id=encoded_theater_id(r.theater)) }}">{{ r.theater }}</a><br />
              Movie ID: <a href="{{ url_for('.movie_update_and_show', movie_id=r.movie.id()) }}">{{ r.movie }}</a><br />
              Time: {{ r.time }}<br />
              Cinema: {{ r.cinema }}<br />
              Seat ID: {{ r.seat_id }}<br />
            </li>
          {% endfor %}
        </ul>
      {% else %}
        Transaction has no reservations?
      {% endif %}
    </div>

    <div class="span6">
      <h3>Payment Information:</h3>
      Payment Type: {{ transaction.payment_type }}<br />

      {% if transaction.payment_info %}
        SureSeats Customer ID: {{ transaction.payment_info['customer_id'] }}<br />
        Email: {{ transaction.payment_info['email'] }}<br />

        {% if transaction.payment_type == 'client-initiated' %}
          Reference Parameter: {{ transaction.payment_info['reference-parameter'] }}<br />
          Form Method: {{ transaction.payment_info['form-method'] }}<br />
          Form Target: {{ transaction.payment_info['form-target'] }}<br />

          <h4>Form Parameters:</h4>
          {% for key in transaction.payment_info['form-parameters'] %}
            {{ key }}: {{ transaction.payment_info['form-parameters'][key] }}<br />
          {% endfor %}
        {% endif %}
      {% else %}
        Transaction has no payment info?
      {% endif %}

      <h3>Discount Information:</h3>
      {% if transaction.discount %}
        {% if transaction.discount.claim_code %}
          Claim Code: {{ transaction.discount.claim_code }}<br />
          Claim Code Type: {{ transaction.discount.claim_code_type }}<br />
          User ID: {{ transaction.discount.user_id }}<br />
          Mobile Number: {{ transaction.discount.mobile }}<br />
          Payment Gateway: {{ transaction.discount.payment_gateway }}<br /><br />
          Original Total Amount: {{ transaction.discount.original_total_amount }}<br />
          Total Discount: {{ transaction.discount.total_discount }}<br />
          Total Amount: {{ transaction.discount.total_amount }}<br />
          Discount Value: {{ transaction.discount.discount_value }}<br />
          Discount Type: {{ transaction.discount.discount_type }}<br />
        {% else %}
          Transaction has no discount info?
        {% endif %}
      {% else %}
        Transaction has no discount info?
      {% endif %}

      <h3>User Information:</h3>
      {% if transaction.customer %}
        Customer ID (SureSeats): {{ transaction.customer.customer_id }}<br />
        LBID: {{ transaction.customer.lbid }}<br />
        UUID: {{ transaction.customer.uuid }}<br />
        First Name: {{ transaction.customer.first_name }}<br />
        Last Name: {{ transaction.customer.last_name }}<br />
        Email: {{ transaction.customer.email }}<br />
        Mobile: {{ transaction.customer.mobile }}<br />
        Customer Type: {{ transaction.customer.customer_type }}<br />
      {% else %}
        Transaction has no user info?
      {% endif %}
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>Ticket Information:</h3>

      {% if transaction.ticket %}
        Reservation Reference: {{ transaction.ticket.ref }}<br />
        Ticket Code: {{ transaction.ticket.code }}<br />
        Ticket Type: {{ transaction.ticket.ticket_type }}<br />
        Date: {{ transaction.ticket.date }}<br />
        Total Amount: {{ transaction.ticket.extra['total_amount'] }}<br />
        
        {% if transaction.ticket.ticket_type == 'barcode' %}
          {% if transaction.ticket.barcode %}
            <img class="img-rounded" src="data:image/png;base64,{{ transaction.ticket.barcode.encode('base64') }}" />
          {% endif %}
        {% endif %}
        {% if transaction.ticket.ticket_type == 'qrcode' %}
          {% if transaction.ticket.qrcode %}
            <img class="img-rounded" src="data:image/png;base64,{{ transaction.ticket.qrcode.encode('base64') }}" />
          {% endif %}
        {% endif %}
      {% else %}
        Transaction has no ticket info?
      {% endif %}
    </div>
  </div>
{% endblock %}
