{% extends "base.html" %}

{% block title %} List All Transactions | {{ transaction_type }} - {{ transaction_state_str }} {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1><a href="{{ url_for('.transactions_index', transaction_type=transaction_type) }}">{{ transaction_type }} Transactions</a> > {{ transaction_state_str }}</h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div class="span12">
      {% if transactions %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date Created</th>
              <th>Theater</th>
              <th>Movie</th>
              <th>Customer</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Reservation #</th>
              <th>Payment Type</th>
            </tr>
          </thead>
          <tbody>
            {% for t in transactions %}
              <tr>
                <td><a href="{{ url_for('.transaction_show', transaction_type=t.transaction_type, transaction_id=encode_id_paths(t.key.parent().id(), t.key.id())) }}"><small>{{ t.key.id() }}</small></a></td>
                <td>{% if t.date_created %}{{ t.date_created|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</td>
                <td>{{ t.reservations[0].theater.get().name }}</td>
                <td>{{ t.reservations[0].movie.get().canonical_title }}</td>
                <td>{{ t.customer.first_name }} {{ t.customer.last_name }}</td>
                <td>{{ t.customer.email }}</td>
                <td>{{ t.customer.mobile }}</td>
                <td>{% if t.reservation_reference %}{{ t.reservation_reference }}{% endif %}</td>
                <td>{{ t.payment_type }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pager">
          {% if more %}
            <li class="next"><a href="{{ url_for('.transactions_list', transaction_type=transaction_type, transaction_state_str=transaction_state_str, cursor=next_cursor.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
            <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
      {% else %}
        No {{ transaction_state_str }} Transactions
      {% endif %}
    </div>
  </div>
{% endblock %}