{% extends "base.html" %}

{% block title %} List All Transactions | {{ transaction_type }} {% endblock %}

{% block container_content %}
  <div class="page-header">
    <h1>{{ transaction_type }} Transactions</h1>
    <div class="btn-group">
      <a class="btn btn-small" href="{{ url_for('.transactions_list', transaction_type=transaction_type, transaction_state_str='TX_DONE') }}">TX_DONE</a>
      <a class="btn btn-small" href="{{ url_for('.transactions_list', transaction_type=transaction_type, transaction_state_str='TX_REFUNDED') }}">TX_REFUNDED</a>
      <a class="btn btn-small" href="{{ url_for('.transactions_list', transaction_type=transaction_type, transaction_state_str='TX_CANCELLED') }}">TX_REAPED</a>
      <a class="btn btn-small" href="{{ url_for('.transactions_list', transaction_type=transaction_type, transaction_state_str='TX_ACTIVE') }}">TX_ACTIVE</a>
    </div>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row-fluid">
    <div class="span8">
      <h3>Active</h3>

      {% if active_txs %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Payment Type</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            {% for t in active_txs %}
              <tr>
                <td><a href="{{ url_for('.transaction_show', transaction_type=t.transaction_type, transaction_id=encode_id_paths(t.key.parent().id(), t.key.id())) }}"><small>{{ t.key.id() }}</small></a></td>
                <td>
                  {% if t.date_created %}
                    {{ t.date_created|timedeltaformat }} ago
                  {% else %}
                    <i>N/A</i>
                  {% endif %}
                </td>
                <td>{{ t.payment_type }}</td>
                <td>
                  <span class="label {% if t.state == 3 or t.state == 5 or t.state == 7 or t.state == 8 or t.state == 9 %}label-info{% elif t.state == 11 or t.state == 12 or t.state == 13 %}label-error{% endif %}">
                    <small>{{ to_state_str(t.state) }}</small>
                  </span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pager">
          {% if a_more %}
            <li class="next"><a href="{{ url_for('.transactions_index', transaction_type=transaction_type, a_cursor=next_a_cursor.urlsafe(), r_cursor=r_cursor.urlsafe(), d_cursor=d_cursor.urlsafe(), c_cursor=c_cursor.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
            <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
      {% else %}
        No Active Transactions
      {% endif %}
    </div>

    <div class="span4">
      <h3>Reaped/Cancelled</h3>

      {% if reaped_txs %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for t in reaped_txs %}
              <tr>
                <td><a href="{{ url_for('.transaction_show', transaction_type=t.transaction_type, transaction_id=encode_id_paths(t.key.parent().id(), t.key.id())) }}"><small>{{ t.key.id() }}</small></a></td>
                <td>{% if t.was_reaped %}<span class="label label-error"><small>Reaped</small></span>{% else %}&nbsp;{% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pager">
          {% if r_more %}
            <li class="next"><a href="{{ url_for('.transactions_index', transaction_type=transaction_type, a_cursor=a_cursor.urlsafe(), r_cursor=next_r_cursor.urlsafe(), d_cursor=d_cursor.urlsafe(), c_cursor=c_cursor.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
            <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
      {% else %}
        No Reaped Transactions
      {% endif %}
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>Done</h3>

      {% if done_txs %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date Created</th>
              <th>Payment Ref Code</th>
              <th>Reservation Ref Code</th>
              <th>Payment Type</th>
              <th>Ticket Date</th>
            </tr>
          </thead>
          <tbody>
            {% for t in done_txs %}
              <tr>
                <td><a href="{{ url_for('.transaction_show', transaction_type=t.transaction_type, transaction_id=encode_id_paths(t.key.parent().id(), t.key.id())) }}"><small>{{ t.key.id() }}</small></a></td>
                <td>{% if t.date_created %}{{ t.date_created|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</td>
                <td>{{ t.payment_reference }}</td>
                <td>{{ t.reservation_reference }}</td>
                <td>{{ t.payment_type }}</td>
                <td>{{ t.ticket.date|dateformat(format='short') }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pager">
          {% if d_more %}
            <li class="next"><a href="{{ url_for('.transactions_index', transaction_type=transaction_type, a_cursor=a_cursor.urlsafe(), r_cursor=r_cursor.urlsafe(), d_cursor=next_d_cursor.urlsafe(), c_cursor=c_cursor.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
            <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
      {% else %}
        No Completed Transactions
      {% endif %}
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>Refunded/Cancelled</h3>

      {% if cancelled_txs %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date Created</th>
              <th>Payment Ref Code</th>
              <th>Reservation Ref Code</th>
              <th>Payment Type</th>
              <th>Ticket Date</th>
              <th>Date Cancelled</th>
            </tr>
          </thead>
          <tbody>
            {% for t in cancelled_txs %}
              <tr>
                <td><a href="{{ url_for('.transaction_show', transaction_type=t.transaction_type, transaction_id=encode_id_paths(t.key.parent().id(), t.key.id())) }}"><small>{{ t.key.id() }}</small></a></td>
                <td>{% if t.date_created %}{{ t.date_created|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</td>
                <td>{{ t.payment_reference }}</td>
                <td>{{ t.reservation_reference }}</td>
                <td>{{ t.payment_type }}</td>
                <td>{{ t.ticket.date|dateformat(format='short') }}</td>
                <td>{% if t.date_cancelled %}{{ t.date_cancelled|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pager">
          {% if c_more %}
            <li class="next"><a href="{{ url_for('.transactions_index', transaction_type=transaction_type, a_cursor=a_cursor.urlsafe(), r_cursor=r_cursor.urlsafe(), d_cursor=d_cursor.urlsafe(), c_cursor=next_c_cursor.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
            <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
      {% else %}
        No Cancelled Transactions
      {% endif %}
    </div>
  </div>
{% endblock %}
